<div class="panel panel-primary">
    <div class="panel-heading">Merchant Details</div>
    <div class="panel-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label">Name </label>
                <div class="col-sm-9">
                    <p class="form-control-static">{{merchantInfo.name}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Amount </label>
                <div class="col-sm-9">
                    <p class="form-control-static">{{comma merchantInfo.amount}}</p>
                </div>
            </div>
        </form>
    </div>
</div>